body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin-top: 150px;
}

.news-card {
  width: 350px;
  height: 450px;
  color: black;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px 2px rgb(222, 222, 222);
}

.newsImg {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 200px;
  padding: 0 !important;
  object-fit: cover;
}

#logo {
  width: 250px;
  height: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 3px 1px gray;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
}

nav {
  display: flex;
  list-style: none;
  margin: 10px;
  align-self: center;
  font-size: 1.3rem;
}

li {
  margin: 10px;
}

.inner {
  padding: 0 20px 0 20px;
}
